<script>
    document.addEventListener("DOMContentLoaded", function () {
      var preElements = document.querySelectorAll(".post-content pre");
      preElements.forEach(function (preElement) {
        var button = document.createElement("button");
        button.className = "copy-button";
        button.textContent = "Copy";
        preElement.appendChild(button);
      });
  
      var clipboard = new ClipboardJS(".copy-button", {
        target: function (trigger) {
          return trigger.previousElementSibling;
        },
      });
  
      clipboard.on("success", function (e) {
        e.trigger.textContent = "Copied!";
        setTimeout(function () {
          e.trigger.textContent = "Copy";
        }, 2000);
      });
    });
  </script>
  